{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-sm-10 col-md-8">
            <div class="card p-4 shadow-sm rounded">
                <h3 class="text-center mb-3 fw-bold">{% trans "Sign In" %}</h3>
                <p class="text text-center">
                    {% blocktrans %}Welcome to Kode Restaurant! To book a table, please log in to your account. Don’t have one yet? Simply <a class="link" href="{{ signup_url }}">sign up</a>
                    to get started.{% endblocktrans %}</p>
                <form class="login mt-3" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn btn-signup right mt-3" type="submit">{% trans "Sign In" %} &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}