{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-12 col-md-10 col-md-8">
            <div class="card p-4 shadow-sm rounded">
                <h3 class="text-center mb-3 fw-bold">{% trans "Sign Out" %}</h3>
                <p class="text text-center">{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="post" action="{% url 'account_logout' %}" class="logout mt-3">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}        
                    <div class="d-flex justify-content-center gap-2">
                        <button class="btn btn-signup right" type="submit">{% trans 'Sign Out' %} &raquo;</button>
                        <a href="{% url 'home' %}" class="btn cancel-btn btn-completed">{% trans 'Cancel' %}</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}