{% extends "base.html" %}
{% load static %}
{% block scripts %}

{% block content %}
<div class="container mt-4 mb-4">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-10 col-lg8">
      <div class="card p-4 shadow-sm rounded">
        {% if restaurant %}
          <p class="text text-center mb-3">You are making a booking at <br>
          <span class="brand-kode fs-2">Kode</span> 
          <span class="brand-restaurant">Restaurant</span>
          <span class="restaurant-name fs-2">{{ restaurant.city }}</span>.</p>
          <p class="small text-center">
              You can book a table for tomorrow, up to <strong>6 people</strong>. For larger parties, please contact us at <strong>{{ restaurant.phone_number }}</strong> or <strong>{{ restaurant.email }}</strong>.
          </p>
        {% else %}
          <p class="text mb-3">Please select a restaurant from the menu.</p>
        {% endif %}

        <h3 class="mb-3 fw-bold text-center">Book a Table</h3>

        <form method="post" class="book mt-3">
          {% csrf_token %}

          {% for field in form %}
            <div class="mb-3">
              {{ field.label_tag }}
              {{ field }}
              {% if field.errors %}
                <div class="alert alert-danger mt-2">
                {% for error in field.errors %}
                  {{ error }}<br>
                {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}  

          <button class="btn book-btn" type="submit">Book Now &raquo;</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Flatpickr CSS & JS -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    flatpickr("#id_booking_date", {
      altInput: true, // Show a user-friendly date
      altFormat: "F j, Y",
      dateFormat: "Y-m-d",
      minDate: new Date().fp_incr(1), // Tomorrow
      maxDate: new Date().fp_incr(180), // 180 days from now
      disable: ["2025-12-25", "2025-12-31"], // Disable specific dates
    });
  });
</script>
{% endblock %}
{% endblock %}