{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5 pt-3">
    <div class="container text-center mt-2 mb-3 p-3 lead-text">
    <h1 class="fw-bold mt-3 mb-4">Welcome to <br> 
        <span class="brand-kode fs-2">Kode</span> Restaurant</h1>
    <p class="lead">Choose your restaurant location and book a table online.</p>
    <p class="lead">We currently have two branches: <strong>Fictionville</strong> and <strong>Snackville</strong>.</p>
    </div>
    <div class="row g-3 align-items-stretch">
        <!-- Column 1: Lead text / description -->
        <div class="col-12 col-md-6 d-flex">
            <div class="lead-text p-3 d-flex flex-column justify-content-center">
                <h1 class="mt-3 fw-bold">{{ restaurant.name }}</h1>
                <p class="lead mt-2">{{ restaurant.description }}</p>
                {% if restaurant %}
                <a href="{% url 'create_booking' slug=restaurant.slug %}" class="btn btn-book-table mt-auto align-self-center">Book a Table</a>
                {% endif %}
            </div>
        </div>

        <!-- Column 2: Carousel / images -->
        <div class="col-12 col-md-6 d-flex">
            <div id="restaurantCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% if carousel_images %}
                        {% for image in carousel_images %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ image.image.url }}" class="d-block w-100" alt="{{ image.caption|default:'Restaurant Image' }}">
                            {% if image.caption %}
                            <div class="carousel-caption">
                                <p class="fs-6">{{ image.caption }}</p>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="carousel-item active">
                            <img src="{% static 'images/default.webp' %}"" class="d-block w-100" alt="Default restaurant image">
                        </div>
                    {% endif %}
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>

                <div class="carousel-indicators">
                    {% for image in carousel_images %}
                    <button type="button" data-bs-target="#restaurantCarousel" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %} aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
