{% extends "base.html" %}

{% block content %}
<div class="container mt-5 pt-3">
    <div class="row">
        <!-- Column 1: Lead text / description -->
        <div class="col-md-6">
            <h1>{{ restaurant.name }}</h1>
            <p class="lead">{{ restaurant.description }}</p>
            <a href="" class="btn btn-primary">Book a Table</a>
        </div>

        <!-- Column 2: Carousel / images -->
        <div class="col-md-6">
            <div id="restaurantCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="" class="d-block w-100" alt="Restaurant Image 1">
                    </div>
                    <div class="carousel-item">
                        <img src="" class="d-block w-100" alt="Restaurant Image 2">
                    </div>
                    <div class="carousel-item">
                        <img src="" class="d-block w-100" alt="Restaurant Image 3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#restaurantCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
